.container{
    padding: 50px;
    gap: 50px;
    background-color: rgb(237, 249, 248);
    
}



.skillCard:hover{
    transform: scale(1.05);
}

@media(max-width: 768px){
    .allSkillsImage{
    height: 150px;
    }

    .allUsersImage{
    height: 150px
    }
}


.userCard {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
.userCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  }
  
 
