

.wrapper {
    position: relative;
    padding-top: rem(60px);
    padding-bottom: rem(80px);
    /* background: linear-gradient(135deg, rgba(0, 0, 0, 0.131), rgba(24, 238, 181, 0.399)), url("../assets/Images/h1.png"); */
    background: linear-gradient(rgba(0, 0, 0, 0.131), rgba(24, 255, 193, 0.228)), url("../assets/Images/h1.png");
    position: relative;
    /* background-image: url("../assets/Images/h3.png"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
  
    @media (max-width: $mantine-breakpoint-xs) {
      padding-top: rem(50px);
      padding-bottom: rem(50px);
    }
  }
  
  .inner {
    position: relative;
    z-index: 1;
  }
  
  .title {
    font-weight: 800;
    letter-spacing: rem(-1px);
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    color: white;
    margin-bottom: var(--mantine-spacing-xs);
    text-align: center;
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
  
    @media (max-width: $mantine-breakpoint-xs) {
      text-align: center;
    }
  }
  
  .userName{
    color: #00e59b
  }

  .description {
    text-align: center;
    
  
    @media (max-width: $mantine-breakpoint-xs) {
      font-size: var(--mantine-font-size-md);
    }
  }

 