.container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 30px 80px;
    background-color: rgba(225, 235, 233, 0.948);
    /* background-color: #9fdbc9; */
    justify-content: center;
    height:100vh;
}

.skillDetails{
    padding: 20px 50px;
    width: 600px;
    display: flex;
    gap: 20px; 
}


.userContainer{
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.tokenRequest{
    padding: 20px 50px;

}

.userDetails{
    width: 250px;
    
}