
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border-radius:20px;
    gap: 50px;
    background-color: rgba(225, 235, 233, 0.948);

    @media(max-width: 768px){
        flex-direction: column;
        margin: 15px;
        padding: 20px;
        gap: 20px;
    }
}

.innerContainer{
    width: 100%;
}

.userInfo{
    width: 300px;
    text-align: center;

    @media(max-width: 768px){
        width: 100%;
    }
}

.dashboardInfo{
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    border: 1px rgb(222, 220, 220) solid;
    padding: 30px;
    border-radius: 10px;

    @media(max-width: 768px){
        width: 100%;
    }
}

