.navbar{
    background-color: black;
    height: 70px;
    display: flex;
    align-items: center;
    box-sizing: border-box; 
    
}

.navInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.logo{
    width: 150px;
    margin: 10px;
}

.loginSignupSection{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-right: 10px;
    align-items: center;
}

.skillsProfileContainer{
    display: flex;
    gap: 20px;
    align-items: center;
}


.user {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
    margin: var(--mantine-radius-md);
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-sm);
    transition: background-color 100ms ease;
  
    &:hover {
      background-color: rgb(48, 47, 47);
    }
  
    @media (max-width: $mantine-breakpoint-xs) {
      display: none;
    }
  }
  
  .userActive {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
  }

  @media(max-width: 760px){
    
    .logo {
      width: 120px; 
      margin: 0;
      }

  }